.hidden {
  display: none;
}

.home {
  background: #fff;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.new-item {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  outline: none;
  color: inherit;
  box-sizing: border-box;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.item-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  margin-left: 45px;
  padding-bottom: 10px;
}

.item-list li:last-child {
  border-bottom: none;
}

.item-list li label {
  float: left;
  margin-right: 1em;
  text-align: right;
}

.item-list li .destroy {
  position: absolute;
  top: 0;
  right: 30px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #cc9a9a;
  margin: auto 0 11px;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: color 0.2s ease-out;
}

.item-list li .destroy:hover {
  color: #af5b5e;
}

.item-list li .destroy:after {
  content: 'delete';
}

.item-list li .edit {
  position: absolute;
  top: 0;
  right: 75px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #add8e6;
  margin: auto 0 11px;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: color 0.2s ease-out;
}

.item-list li .edit:hover {
  color: #67818a;
}

.item-list li .edit:after {
  content: 'edit';
}
